<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>USER DASHBOARD</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assetUser/img/NEW LOGO (1).png" rel="icon">
  <link href="static/assetUser/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">

  <!-- Vendor CSS Files -->
  <link href="static/assetUser/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assetUser/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assetUser/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assetUser/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="static/assetUser/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="static/assetUser/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assetUser/vendor/simple-datatables/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  <link rel="stylesheet" href="static/assetUser/css/style1.css">
  <!-- Demo CSS (No need to include it into your project) -->
  <!-- Bootstrap 5 CSS -->
<!-- Data Table CSS -->
<link rel='stylesheet' href='https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css'>
<!-- Font Awesome CSS -->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>


  <!-- Template Main CSS File -->
  <link href="/static/assetUser/css/request.css" rel="stylesheet">
  
 
</head>
<style>
  .bi-printer {
  font-size: 20px;
  color: #002b80;
  background: none;
  margin-left: -10px;
  align-items: center;
}
</style>
<body>


  <style>
  
  </style>
  
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="" class="logo d-flex align-items-center">
        <div class="picture">
        <img src="static/assetUser/img/university_logo.default.png" width="180px" alt="">
      </div>
        <span class="d-none d-lg-block"></span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>

    </div><!-- End Logo -->



    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->


          


        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="/static/profilePics/{{profilepicDb}}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{logUser}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{logUser}}</h6>
              <span>User</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="http://127.0.0.1:5000/Profile">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
      


            <li>
              <center>
              <form action="/Logout" method="post">
                <a>
              <input class="dropdown-item d-flex align-items-center" type="submit" value="Sign Out">
            </center>
        
               </a>
            </li>
                
              </a>
            </form>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" href="/Dash board">
        <div class="comp">
          <img src="/static/assetUser/img/home.png" alt="" width="20px">
        </div>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->



    <li class="nav-item">
     
    <li class="nav-item">
      <a class="nav-link" href="/Request and Scholar Management">
        <div class="comp">
          <img src="/static/assetUser/img/requestt.png" alt="" width="25px">
      </div>
        <span>Request and Scholar Management</span>
      </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/feedback">
        <div class="comp">
          <img src="/static/assetUser/img/system health.png" alt="" width="25px">
        </div>
        <span> Feedback and Activity Log</span>
      </a>
    </li><!-- End Profile Page Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="/Profile">
        <div class="comp">
          <img src="/static/assetUser/img/user.png" alt="" width="25px">
        </div>
        <span>Profile </span>
      </a>
    </li><!-- End Profile Page Nav -->

       
    


    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-12">
          <div class="card p-1" >
            <!-- Recent Sales -->
            <div class="col-30">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
  <div class="card-title2">Assigned Scholar List</span>

  
    <div class="container">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Request Scholar Assistance</button>
  
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">REGISTRATION</h4>
          </div>
          <div class="modal-body">
            <form action="/Modal_request_process" method="post">

              <label for="Designation">Designation</label>
              <select name="Designation" id="Designation" required>
                <option value="">Select</option>
                <option value="SF">Student Facilitator(SF)</option>
                <option value="AF">Assistant Facilitator(AF)</option>
                <option value="Clerk">Clerk</option>
               
              </select>

              <label for="Requirement">Specification</label>
              <select name="Requirements" id="Requirements" required>
                <option value="">Select</option>
                <option value="1">First Year</option>
                <option value="2">Second Year</option>
                <option value="3">Third Year</option>
                <option value="4">Fourth Year</option>
              </select>

              <label for="Requirement">Reporting Days: </label> <br>
                <input type="checkbox"  name="monday" value="Mon" >
                <label for="vehicle1"> Monday</label><br>
                <input type="checkbox"  name="tuesday" value="Tues" >
                <label for="vehicle2"> Tuesday</label><br>
                <input type="checkbox" name="wednesday" value="Wed">
                <label for="vehicle3"> Wednesday</label><br>
                <input type="checkbox"  name="thursday" value="Thurs">
                <label for="vehicle2"> Thursday</label><br>
                <input type="checkbox" name="friday" value="Fri">
                <label for="vehicle3"> Friday</label><br>
                <input type="checkbox"  name="saturday" value="Sat">
                <label for="vehicle2"> Saturday</label><br>
                


     
              <label for="Requirement">Department</label>
              <select name="dept" id="Designation" required>
                <option value="">Select</option>
                <option value="COM">COM</option>
                <option value="COA">COA</option>
                <option value="COED">COED</option>
                <option value="CCJE">CCJE</option>
                <option value="COE">COE</option>
                <option value="CAHS">CAHS</option>
                <option value="CITE">CITE</option>
                <option value="COME">COME</option>
                
              </select>
              <label for="quantity">Number of Students:</label>
              <input type="number" id="quantity" name="Request" min="1" max="10">

              <br>

                <input type="Submit" value="Submit" name="request">

            </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        
          
        </div>
      </div>
    </div>
    
   </div>

</div>
</div>

              

      
                          <!--$%adsense%$-->
 <main class="cd__main">
  <!-- Start DEMO HTML (Use the following code into your project)-->
  <table id="example" class="table table-striped" style="width:100%">
 <thead>
     <tr>
      <th>STUDENT ID</th>
      <th>SCHOLAR NAME</th>
      <th>COMPLETED MINUTES </th>
      <th>REMAINING HOURS</th>
      <th>STATUS</th>
      <th>CERT</th>
        
     </tr>
 </thead>
 <tbody id="myTable">

  {% for row in student_underMe %}
  <tr>
  <form action="{{url_for('print_cert')}}" method="POST">
   <td><button type="submit" name="select" value="select"> <i style="margin-right: 0.5em; color: #000000;"><class="bi bi-calendar2-minus"></i></button> {{row['STUDENT ID']}}</td>
   <td>{{row['SCHOLAR NAME']}}</td>
   <td>{{row['COMPLETED HOURS']}}</td>
    <td>{{row['REMAINING HOURS']}}</td>
    <td class ="text-bg-warning"> {{row['STATUS']}}</td>
    <td><button type="submit" name="select" value="select"> <i class="bi bi-printer"> </i></button></td>

  </form>
</tr>



    
 </tfoot>
    {% endfor%}
</table>


                          <!-- End Table with stripped rows -->
          
    </div>
              </div>
            </div>
          </div>
        </div>
      </section>
   
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>

                      <hr>



                  </div>




                </div>

              </div>
            </div><!-- End Recent Sales -->


          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-3">







        </div><!-- End Right side columns -->

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Phinma-UI</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by Proglematicv3</a>
    </div>
    
<script src='https://code.jquery.com/jquery-3.7.0.js'></script>
<!-- Data Table JS -->
<script src='https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js'></script>
<script src='https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js'></script>
      <!-- Script JS -->
      <script src="static/assetUser/js/script.js"></script>
   </footer><!-- End Footer -->
  <!-- Vendor JS Files -->
  <script src="static/assetUser/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="static/assetUser/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assetUser/vendor/chart.js/chart.umd.js"></script>
  <script src="static/assetUser/vendor/echarts/echarts.min.js"></script>
  <script src="static/assetUser/vendor/quill/quill.min.js"></script>
  <script src="static/assetUser/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="static/assetUser/vendor/tinymce/tinymce.min.js"></script>
  <script src="static/assetUser/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->

  <script src="static/assetUser/js/req.js"></script>
  <script src="static/assetUser/js/script.js"></script>
  <script src="static/assetUser/js/main.js"></script>

</body>

</html>

<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>
 
  <script>
    const toggleDropdown = document.getElementById('toggle-dropdown');
    const optionsContainer = document.querySelector('.options');

    toggleDropdown.addEventListener('change', () => {
        optionsContainer.classList.toggle('open');
    });
</script>