<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>USER DASHBOARD</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assetUser/img/NEW LOGO (1).png" rel="icon">
  <link href="static/assetUser/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assetUser/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assetUser/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assetUser/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assetUser/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="static/assetUser/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="static/assetUser/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assetUser/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assetUser/css/user.css" rel="stylesheet">

  <link rel="stylesheet" href="static/assetUser/css/style1.css">
  <!-- Demo CSS (No need to include it into your project) -->  <link rel="stylesheet" href="static/assetUser/css/demo.css">
  <!-- Bootstrap 5 CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<!-- Data Table CSS -->
<link rel='stylesheet' href='https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css'>
<!-- Font Awesome CSS -->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
 
 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="" class="logo d-flex align-items-center">
        <div class="picture">
        <img src="static/assetUser/img/university_logo.default.png" width="180px" alt="">
      </div>
        <span class="d-none d-lg-block"></span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>

    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->


          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->





        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="/static/profilePics/{{profilepicDb}}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{logUser}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{logUser}}</h6>
              <span>User</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="http://127.0.0.1:5000/Profile">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

           

            <li>
              <form action="/LogoutAdmin" method="post">
                <a>
              <input class="dropdown-item d-flex align-items-center" type="submit" value="Sign Out">
              </a>
            </form>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('admindashBoard')}}">
          <div class="comp">
            <img src="/static/assetUser/img/home.png" alt="" width="20px">
          </div>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->



      <li class="nav-item">
       
        <li class="nav-item">
          <a class="nav-link collapsed" href="/compliance">
            <div class="comp">
            <img src="/static/assetUser/img/compl.png" alt="" width="20px">
          </div>
            <span>Compliance Monitoring and Scholar Information</span>
          </a>
        </li><!-- End Profile Page Nav -->
  
       
        <li class="nav-item">
          <a class="nav-link collapsed" href="/Duty Assignment And Management">
            <div class="comp">
              <img src="/static/assetUser/img/assign.png" alt="" width="20px">
            </div>
            <span>Duty Assignment and Management</span>
          </a>
        </li><!-- End Profile Page Nav -->
  
  
  
        <li class="nav-item">
          <a class="nav-link" href="/User Management">
            <div class="comp">
              <img src="/static/assetUser/img/usermanage.png" alt="" width="20px">
            </div>
            <span>User Management</span>
          </a>
        </li>

      
        
     
  
      
        <li class="nav-item">
          <a class="nav-link collapsed" href="/Setting and Configurations">
            <div class="comp">
              <img src="/static/assetUser/img/settings.png" alt="" width="20px">
            </div>
            <span>Setting and Configurations</span>
          </a>
        </li><!-- End Profile Page Nav -->
   
        <li class="nav-item">
          <a class="nav-link collapsed" href="/System Health Logs">
            <div class="comp">
              <img src="/static/assetUser/img/system health.png" alt="" width="20px">
            </div>
            <span>Activity Log and Feedback</span>
          </a>
        </li><!-- End Profile Page Nav -->
  
  
      
  
  
      </ul>
  
    </aside><!-- End Sidebar-->

  <main id="main" class="main">
  
     <!-- Recent Sales -->
     <div class="col-12">
      <div class="card p-1" >
          <div class="card-title2 "> User Management</span>

<div class="container mt-3">
<div class = "add">
  <button type="button" class="teble" data-bs-toggle="modal" data-bs-target="#myModal">
    ADD USER </button>
</div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title3">ADD USER</h4>
       
        <button type="button" namclass="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="/modal_add_user" method="post" >

          <div class="tb">
          <label type="lname">Employee ID: </label>
          <input type="text" id="lname" name="empid" required maxlength="14"><br><br>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required><br><br>
          <label for="lname">Last name:</label>
          <input type="text" id="lname" name="lname" required><br><br>
          <label for="fname">First name:</label>
          <input type="text" id="fname" name="fname" required><br><br>
          <label for="mname">Middlename:</label>
          <input type="text" id="mname" name="mname" required><br><br>
         
          <label for="phone">  Phone:</label>
          <input type="number" id="phone" name="phone" required><br><br>

          <label for="Requirement">Department: </label>
          <select name="dept" id="Designation" required>
            <option value="">Select</option>
            <option value="COM">COM</option>
            <option value="COA">COA</option>
            <option value="COED">COED</option>
            <option value="CCJE">CCJE</option>
            <option value="COE">COE</option>
            <option value="CAHS">CAHS</option>
            <option value="CITE">CITE</option>
            <option value="COME">COME</option>
            
          </select>
          <br>
    
       
          <br>

          <label for="Designation">Designation/Position:</label>
              <select name="Designation" id="Designation" required>
                <option value="">Select</option>
                <option value="Faculty">Faculty</option>
                <option value="COO">COO</option>
                <option value="Dean">Dean</option>
               </select>
              <input type="hidden" name="">
              
              <br><br><br>
              <div class="row mb-3">
             <label for="newPassword"   class="label pt-5 ">Password:</label> <br>
                <div class="con ">
                  <input   type="password"  name="psw" class="form-control1 w-200 p-3" id="newPassword"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                </div>
              </div>

              <div class="row mb-3">
                <label for="renewPassword"  class="label">Confirm Password:</label>
                <div class="pass">
                  <input  type="password" name="repsw"  class="form-control1" id="renewPassword"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                </div>
              </div>
            </div>

        </div>   

      
   
   

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="Submit" class="btn btn-success" value="Submit" name="request">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

     
    </form>
  </div>
    </div>
  </div>
</div>

 
<!-- REQUEST -->
<div class="container mt-3">
  <div class = "req">
  <button type="button" class="" data-bs-toggle="modal" data-bs-target="#myModal1">
   REQUEST
  </button>
</div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">PENDING ACCOUNTS</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
                 
  <table class="table table-striped-1">
    <thead>
      <tr>
        
        <th scope="col">EMP ID</th>
        <th scope="col">NAME</th>
        <th scope="col">POSITION</th>
        <th scope="col">DEPARTMENT</th>
        <th scope="col">ACTION</th>
  
      </tr>
    </thead>
    <tbody>
    {% for row in operation_req_acc_Table%}
    <form action="/request_modal_Process_User_Management" method="POST"  >
  
      <tr>
        <td> {{row['EMP ID']}}</td>
        <th scope="row"> {{row['NAME']}} </th>
        <td> {{row['POSITION']}}</td>
        <td>{{row['DEPARTMENT']}} </td>
        <td> <button type="submit" name="con" value="confirm>>{{row['EMP ID']}}" onclick="alert('CUTE SI KAREN')">CONFIRM</button>
       <button type="submit" name="del" value="del>>{{row['EMP ID']}}"  onclick="alert('CUTE SI KAREN SUPER')">DELETE</button></td>
  
      </tr>
  
     
    {% endfor %}
    </tbody>
  </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


                  
<!--$%adsense%$-->
<main class="cd__main">
  <!-- Start DEMO HTML (Use the following code into your project)-->
  <table id="example1" class="table table-striped" style="width:100%">
 <thead>
     <tr>
       <th>ID</th>
       <th>USER ID</th>
       <th>NAME</th>
       <th>DESIGNATION</th>
       <th>DEPARTMENT</th>
       <th>STATUS</th>
       <th>DETAILS</th>

      
                   
     </tr>
 </thead>
 <tbody id="myTable">
  {% for row in operations_table%}
    <tr>

      <td>{{row['id']}}</td>
      <td>{{row['USER_ID']}}</td>
      <td>{{row['NAME']}}</td>
      <td>{{row['DESIGNATION']}}</td>
      <td>{{row['DEPARTMENT']}}</td>



<td> <span class=" bg-{{row['color_status']}} text-white d-inline p-1">{{row['STATUS']}}</span></td>
<div class="containerbut"> 

  <td><button type="button" onclick="openModal({{row['id']}})" class="text-white" data-bs-toggle="modal" data-bs-target="#myModal2">

     Details
    </button></td>




</div>

    </tr>


     {% endfor %}
  </tfoot>
  </tbody>
</table>

</div>





    <script>



        function openModal(facultyId) {
            fetch('/get_faculty_info', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'faculty_id=' + facultyId,
            })
            .then(response => response.json())
            .then(data => {

                document.getElementById("facultyImage").src = 'static/profilePics/'+data.pic;
                document.getElementById("modalContentName").innerText = `${data.NAME}`;

                document.getElementById("modalContentEm").innerText = `${data.email}`
                document.getElementById("modalContentAdd").innerText = `${data.Address}`;
                document.getElementById("modalContentNumber").innerText = `${data.phone}`;
                document.getElementById("modalContentDep").innerText = `${data.DEPARTMENT}`;
                document.getElementById("modalContentPos").innerText = `${data.DESIGNATION}`;

                document.getElementById("modalContentAbout").innerText = `${data.about}`;


                document.getElementById("modalContentTwit").href = data.twitter;
                document.getElementById("modalContentFb").href = data.fb;
                document.getElementById("modalContentInsta").href = data.insta;
                document.getElementById("modalContentLinkIn").href = data.linkIn;





                document.getElementById("myModal2").style.display = "block";
            });
        }

        function closeModal() {
            document.getElementById("myModal").style.display = "none";
        }
    </script>


<!-- The Modal -->
<div class="modal" id="myModal2">
  <div class="modal-dialog ">
    <div class="modal-content">
       <span class="close" onclick="closeModal()">&times;</span>

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title1 "> PROFILE DETAILS</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <div class="container mt-1 mb-1 p-3 d-flex justify-content-center">
          <div class="card p-4">
            <div class=" image d-flex flex-column justify-content-center align-items-center">
              <button class="btn btn-secondary">

                <img id="facultyImage" src="" height="100" width="100" />
              </button>

              <span class="name mt-3"><p id="modalContentName"></p></span> <br>
              <div class="conts ">

              <span class="idd2">Email:<i id="modalContentEm"></i></span> <br>

              <span class="idd2">Address:<i id="modalContentAdd"></i></span><br>
              <span class="idd2">Phone number:<i id="modalContentNumber"></i></span><br>
              <span class="idd2">Department:<i id="modalContentDep"></i></span><br>
              <span class="idd2">Position:<i id="modalContentPos"></i></span>


              </div>
              <div class="contsa ">
              <span class="idd3">About</span>
              </div>
              </div> <div class="text mt-3">

                 <span><i id="modalContentAbout"></i><br> </span>
                </div>
                 <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                  <span><a  id="modalContentTwit" href="#" target="_blank"><i class="fa fa-twitter"></i></a></span>
                  <span><a id="modalContentFb" href="#" target="_blank"><i class="fa fa-facebook-f"></i></a></span>
                  <span><a id="modalContentInsta" href="#" target="_blank"><i class="fa fa-instagram"></i></a></span>
                  <span><a id="modalContentLinkIn" href="#" target="_blank"><i class="fa fa-linkedin"></i></a></span>
                </div>

              </div>
            </div>
      </div>


      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
    </div>
  </div>
</div>



















  </div><!-- End Right side columns -->


      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->

  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Phinma-UI</span></strong>. All Rights Reserved
    </div>
    
      Designed by Proglematicv3</a>
    </div>

      
<script src='https://code.jquery.com/jquery-3.7.0.js'></script>
<!-- Data Table JS -->
<script src='https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js'></script>
<script src='https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js'></script>
      <!-- Script JS -->
      <script src="static/assetUser/js/table.js"></script>
   </footer><!-- End Footer -->
  
  </footer><!-- End Footer -->
 

  

  <!-- Vendor JS Files -->
  <script src="static/assetUser/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="static/assetUser/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assetUser/vendor/chart.js/chart.umd.js"></script>
  <script src="static/assetUser/vendor/echarts/echarts.min.js"></script>
  <script src="static/assetUser/vendor/quill/quill.min.js"></script>
  <script src="static/assetUser/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="static/assetUser/vendor/tinymce/tinymce.min.js"></script>
  <script src="static/assetUser/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assetUser/js/main.js"></script>

   <!-- Template Main JS File -->
   <script src="static/assetUser/js/table.js"></script>
 

</body>

</html>

<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
  </script>



